p.text{
border-style:solid;
border-color:hsla(359,100%,53%,0.6);
background-color:lightgrey;
border-color:red green blue yellow;
border-width:10px;
border-bottom-width:20px;
}
p.text1{
border:5px solid blue;
outline-style:dashed;
outline-color:green;
outline-width:5px;
outline-offset:5px;
}