li:first-child{
color:red;
}

p:last-child{
color:yellow;
}
tr:first-child{
color:pink;
background:blue;
}
tr:last-child{
color:gray;
background:yellow;
}
h1:last-child{
color:blue;
}
h1:first-child{
color:blue;
}

