h1{
text-align:center;
color:blue;
text-decoration:underline;
text-decoration-style:solid;
text-transform:uppercase;
text-shadow:5px 2px yellow;
}
p{
text-indent:200px;
text-align:justify;
letter-spacing:2px;
word-spacing:5px;
line-height:25px;
font-family:harrington;
font-size:20px;
font-weight:900px;
font-variant:small-caps;
}
a{
text-decoration:none;
}