.background{
width:600px;
height:500px;
border:2px solid red;
background-image:radial-gradient(red 5%,yellow 15%,blue 60%);
}
.background1{
width:600px;
height:500px;
border:2px solid red;
background-image:radial-gradient(circle,red 5%,yellow, green);
}
.background2{
width:600px;
height:500px;
border:2px solid red;
background-image:radial-gradient(closest-side at 60% 55%,red,yellow,black);
}
.background3{
width:600px;
height:500px;
border:2px solid red;
background-image:radial-gradient(farthest-side at 60% 55%,red,yellow,black);
}
.background4{
width:600px;
height:500px;
border:2px solid red;
background-image:repeating-radial-gradient(red,yellow 10%,green 20%)
}