.maindiv{
width:100%;
height:800px;
border:2px solid red;
}
.head{
width:100%;
height:100px;
background-color:blue;
}
.body{
width:100%;
height:600px;
background-color:red;
}
.footer{
width:100%;
height:100px;
background-color:yellow;
}