h1:active{
font-size:100px;
}
.btn{
width:100px;
height:50px;
}
.btn:active{
background:red;
border:2px solid green;
border-radius:50%;
}
a:active{
color:red;
}
.animation{
height:100px;
width:200px;
background:red;
}
.animation:active{
width:500px;
height:500px;
}
span:active+div{
display:block;
}
div{
background:yellow;
color:green;
display:none;
padding:50px;
width:400px;
}




