table{
width:300px;
height:300px;
}
tr:nth-child(3){
color:red;
background:yellow;
}
tr:nth-child(even){
color:gray;
background:red;
text-align:center;
}
tr:nth-child(odd){
color:red;
background:yellow;
text-align:center;
}
li:nth-child(2n){
color:blue;
}


